body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border-style: solid;
    border-color: black;
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
}

.dots {
    background-color: red;
    width: 30px;
    height: 30px;
    border: 0px;
}